[master]
server_IP_address = 127.0.0.1
server_port = 8500
inputPath = ./kvStore/input/
kvStorePath = ./kvStore/
outputPath = ./kvStore/output/
logfilePath = ./logs/master.log
mapPath = ./kvStore/map/
partitionPath = ./kvStore/partition/


[mapper]
n_mapper = 5
server_ip =127.0.0.1:8500

[reducer]
n_reducer = 5
server_ip =127.0.0.1:8500

[server]
server_ip = 127.0.0.1:8500
logfilePath = ./logs/server.log

[app]
operation = wc
wc_input_path = ./kvStore/input/doc1.txt
inv_input_path = ./kvStore/input/
